@import "tailwindcss/base";
@import "./index.css";
@import "./addProduct.css";
@import "raw_materials.css";
@import "./common.css";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');
@font-face {
    font-family: 'mainak_signature';
    src: url('/fonts/mainak_signature.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}